* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}
body {
  background-image: url("./assets/img/people-2562222_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  display: flex;
  width: 100%;
  height: 800px;
  align-items: center;
  justify-content: center;
}
.form-login h2 {
  font-size: 25px;
}
.form-login {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 30px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgb(21, 53, 194);
  background: #333333a4;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  cursor: pointer;
  background-color: transparent;
}
