.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding-top: 100px;
}

.form-login h2 {
  font-size: 25px;
}
.form-login {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 30px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgb(21, 53, 194);
  background: #333333a4;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  cursor: pointer;
  background-color: transparent;
}
.container {
  top: 100px;
  display: flex;
  width: 700px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.container h1 {
  position: relative;
  color: white;
}
.container p {
  color: white;
}
