* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}
.container {
  display: flex;
  width: 100%;
  height: 800px;
  align-items: center;
  justify-content: center;
}
.usuario li {
  display: flex;
  color: white;
}
.lista li {
  display: flex;
  color: white;
}
.cart-label i {
  display: none;
}
.container {
  display: flex;
  width: 100%;
  height: 800px;
}
.form {
  display: flex;
  margin-top: 200px;
  flex-direction: column;
  width: 350px;
  right: 350px;
  gap: 30px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgb(21, 53, 194);
  background: #333333a4;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.signin a {
  color: #38c215;
}

.form-field {
  position: relative;
}

.input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.form-field .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form-field .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form-field .input:focus + span,
.form-field .input:valid + span {
  color: white;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  cursor: pointer;
  background-color: transparent;
}

.submit:hover {
  background-color: #17191a96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.form-field.error input {
  border: 1px solid rgb(224, 7, 7);
}
.form-field.correcto input {
  border: 1px solid rgb(0, 255, 21);
}
.form-field small {
  display: flex;
  color: rgb(37, 255, 8);
}
